* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(49, 66, 143);
  padding: 5px 5px;
  color: white;
}

.anchor {
  text-decoration: none;
  color: white;
}

.ok {
  list-style: none;
}
.lists {
  background-color: rgb(49, 66, 143);
  padding: 5px 10px;
}
.lists:hover {
  background-color: rgb(128, 137, 175);
  border-left: 1px solid rgb(241, 235, 235);
}

.close {
  background-color: rgb(49, 66, 143);
  height: 0px;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.8s;
}
.open {
  transform: scaleY(1.08);
  height: 10rem;
}
@media (min-width: 800px) {
  .container {
    display: flex;
    align-items: center;
    background-color: rgb(49, 66, 143);
    justify-content: space-around;
  }
  .button {
    display: none;
  }
  .ok {
    display: flex;
  }
  .close {
    height: auto !important;
  }
  .lists {
    margin-right: 1rem;
  }
}
